body { font-family: Montserrat, Pretendard; color: rgb(51, 51, 51); }
ul { margin: 0px; padding: 0px; }
li { list-style: none; }
a { text-decoration: none; color: inherit; }
button {cursor: pointer;}
:root { --primary-color: #234F6E; --footer-color: #153145; --grey-color: #68696B; --grey-section: #fafafa; --grey-box: #ececec; --white-color: #ffffff; --point-color:#203EB5;}
.sec-pd { padding: 140px 0px; }


.nav-link { display: flex; align-items: center; height: 100%; line-height: 1.2; padding-top: 0px !important; padding-bottom: 0px !important; }


.menu-bg {
    width: 100%;
    height: 180px;
    background-color: #f1f1f1d7;
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
}

.menu > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}

.menu:hover > a {
    font-weight: 700;
}

.menu {
    position: relative;
}

.sub-menu-list {
    position: absolute;
    width: 100%;
    display: none;
    z-index: 5;
    top: 90px;
    left: 0;
}

.sub-menu > a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-color);
}

.sub-menu:hover > a {
    font-weight: 500;
    color: var(--primary-color);
}


@media(min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar > div {
    align-items: stretch !important;
  }
  .navbar .offcanvas.offcanvas-end {
    height: 80px !important;
  }
  .navbar .offcanvas-body {
    height: 80px;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 60px;
  }
}

@media(max-width: 991px) {

  .navbar-nav { display: flex; align-items: center; }
  
  .menu {
    padding: 10px;
  }
  
  .menu >a {
    font-size: 20px;
    position: relative;
  }
  
  .sub-menu-list { 
    position: static; 
    background-color: rgba(255, 255, 255, 0.95); 
    backdrop-filter: blur(10px); 
    /* min-width: 160px;  */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;  */
    /* padding: 15px 0px;  */
    z-index: 1000; 
    border-radius: 12px;}
  /* .sub-menu-list li { padding: 5px 20px; } */
  .sub-menu-list li a { text-decoration: none; color: rgb(85, 85, 85); font-size: 14px; display: block; transition: 0.2s; }
  .sub-menu-list li a:hover { color: rgb(0, 0, 0); font-weight: bold; }
  
  .nav-link {
      position: relative;
  }
  
  .nav-link >a {
    font-size: 28px;
  }
}



.dropdown-toggle::after { margin-left: 5px; vertical-align: middle; }
.custom-dropdown-min { min-width: auto !important; }
.kv-sec { width: 100%; height: 100vh; }
.kv-sec .carousel, .kv-sec .carousel-inner, .kv-sec .carousel-item { height: 100%; }
.kv-sec .carousel-item img { width: 100%; height: 100%; object-fit: cover; }
.kv-sec .carousel-item { position: relative; }
.kv-text { position: absolute; color: var(--primary-color); top: 50%; left: 50%; transform: translate(-50%, -50%); }
.kv-title { margin-bottom: 15px; }
.carousel-item img { transform: scale(1.2); transition: transform 3s ease-in-out; }
.carousel-item.active img { transform: scale(1); }