body { font-family: Montserrat, Pretendard; color: rgb(51, 51, 51); }
ul { margin: 0px; padding: 0px; }
li { list-style: none; }
a { text-decoration: none; color: inherit; }
button {cursor: pointer;}
:root { --primary-color: #234F6E; --footer-color: #153145; --grey-color: #68696B; --grey-section: #fafafa; --grey-box: #ececec; --white-color: #ffffff; --point-color:#203EB5;}
.sec-pd { padding: 140px 0px; }


.nav-link { display: flex; align-items: center; height: 100%; line-height: 1.2; padding-top: 0px !important; padding-bottom: 0px !important; }


.menu-bg {
    width: 100%;
    height: 180px;
    background-color: #f1f1f1d7;
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
}

.menu > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}

.menu:hover > a {
    font-weight: 700;
}

.menu {
    position: relative;
}

.sub-menu-list {
    position: absolute;
    width: 100%;
    display: none;
    z-index: 5;
    top: 90px;
    left: 0;
}

.sub-menu > a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-color);
}

.sub-menu:hover > a {
    font-weight: 500;
    color: var(--primary-color);
}


@media(min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar > div {
    align-items: stretch !important;
  }
  .navbar .offcanvas.offcanvas-end {
    height: 80px !important;
  }
  .navbar .offcanvas-body {
    height: 80px;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 60px;
  }
}

@media(max-width: 991px) {

  .navbar-nav { display: flex; align-items: center; }
  
  .menu {
    padding: 10px;
  }
  
  .menu >a {
    font-size: 20px;
    position: relative;
  }
  
  .sub-menu-list { 
    position: static; 
    background-color: rgba(255, 255, 255, 0.95); 
    backdrop-filter: blur(10px); 
    /* min-width: 160px;  */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;  */
    /* padding: 15px 0px;  */
    z-index: 1000; 
    border-radius: 12px;}
  /* .sub-menu-list li { padding: 5px 20px; } */
  .sub-menu-list li a { text-decoration: none; color: rgb(85, 85, 85); font-size: 14px; display: block; transition: 0.2s; }
  .sub-menu-list li a:hover { color: rgb(0, 0, 0); font-weight: bold; }
  
  .nav-link {
      position: relative;
  }
  
  .nav-link >a {
    font-size: 28px;
  }
}




.dropdown-toggle::after { margin-left: 5px; vertical-align: middle; }
.custom-dropdown-min { min-width: auto !important; }
.kv-sec { width: 100%; height: 100vh; }
.kv-sec .carousel, .kv-sec .carousel-inner, .kv-sec .carousel-item { height: 100%; }
.kv-sec .carousel-item img { width: 100%; height: 100%; object-fit: cover; }
.kv-sec .carousel-item { position: relative; }
.kv-text { position: absolute; color: var(--primary-color); top: 50%; left: 50%; transform: translate(-50%, -50%); }
.kv-title { margin-bottom: 15px; }
.carousel-item img { transform: scale(1.2); transition: transform 3s ease-in-out; }
.carousel-item.active img { transform: scale(1); }

@keyframes customFadeUp { 
  0% { opacity: 0; transform: translateY(40px); }
  100% { opacity: 1; transform: translateY(0px); }
}
.carousel-item:not(.active) .kv-title, .carousel-item:not(.active) .kv-desc { transform: translateY(40px); transition: none; opacity: 0 !important; }
.carousel-item.active .kv-title { animation: 1s ease-out 0s 1 normal forwards running customFadeUp; }
.carousel-item.active .kv-desc { animation: 1s ease-out 0.5s 1 normal forwards running customFadeUp; }

.sec-txt {
    width: 180px; 
    flex-shrink : 0;
}

.sec-subtitle { 
  color: var(--grey-color); 
  font-size: 18px; 
  font-weight: bold;
  padding-left: 32px;
}
.sec-title { 
  color: var(--primary-color); 
  font-size: 40px; 
  font-weight: bold;
  padding-top: 5px;
  padding-left: 30px;
}

.sub02 {
  padding-left: 42px;
}
.tit02 {
  padding-left: 39px
}

.visual {
  position: relative;
  
}


.business-grid-layout {
  width: 100%;
}

.__bg [class*=__item] {
    position: absolute;
    transition: 1.2s ease-in-out;
    transition-property: transform, top, left, right;
}

.__bg .__item1 {
    width: 58.8888888889rem;
    top: -16.7222222222rem;
    left: -25rem;
    transform: rotate(-135deg);
}    
.__bg.__active .__item1 {
    transform: rotate(0);
    top: -15.8888888889rem;
    left: -25.0555555556rem;
}
.__bg .__item2 {
    width: 51.8888888889rem;
    top: 46.6111111111rem;
    left: -8.6111111111rem;
    transform: rotate(-32deg);
}
.__bg.__active .__item2 {
    top: 26.9444444444rem;
    left: -8.2222222222rem;
    transform: rotate(0);
}

.__bg .__item3 {
    width: 51.3888888889rem;
    top: 30.6666666667rem;
    right: -43.1111111111rem;
    transition-duration: 1.5s;
    transition-delay: 0.2s;
}
.__bg.__active .__item3 {
    top: 14.5555555556rem;
    right: -26.9444444444rem;
}

.business-box { 
  width: 100%; 
  max-width: 428px; 
  height: 550px; 
  background-color: rgb(35, 79, 110); border-radius: 50px; 
  padding: 45px 35px; 
  position: relative; 
  transition: 0.3s; 
  display: flex; 
  flex-direction: column; }

.box-head { 
  color: rgb(255, 255, 255); 
  font-size: 28px; 
  font-weight: 700; 
  margin-bottom: 20px; 
}

.box-desc {
   color: rgba(255, 255, 255, 0.9); 
   font-size: 17px; 
   line-height: 1.5; 
   word-break: keep-all; }

.box-img { 
  position: absolute; 
  bottom: 40px; 
  right: 30px; 
  max-width: 70%; }

.business-sec { 
  padding: 180px 0px; 
}

.custom-flex-container { 
  align-items: flex-start; 
  display: flex !important; 
  max-width: 1320px !important; 
}

.business-grid-layout { 
  display: grid; 
  margin-left: 160px; 
  gap: 0px clamp(10px, 5vw, 130px);
  grid-template-columns: repeat(2, 428px); 
}

.box-02, .box-04 { margin-top: 270px; }

.capabillity-wrap {
  max-width: 870px;
}

.map-wrap {
  width: 100%;
  height: 100%;
}

.map-img {
  width: 100%;
  object-fit: cover;
  margin-left: 160px;
}

.info-counter-container {
    display: flex;
    margin-top: 50px;
    margin-left: 160px;
    gap: clamp(10px, 4vw, 70px);
}

.info-grid {
  display: flex;
  gap: clamp(10px, 4vw, 70px);
  
}

.info-counter-wrap {
    text-align: center;
}
.info-desc {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    color: var(--grey-color);
    min-width: 160px;
}

.info-txt {
  padding: 20px;
  display: none;
}
.counter {
    font-size: 60px;
    letter-spacing: 4.192px;
    margin-top: 10px;
    font-weight: 700;
    color: var(--primary-color);
}
.counter-add {
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
    opacity: 0.7;
}



/* CTA */

.CTA {
  /* 배너 크기 설정 */
  width: 100%;
  height: 300px;
  margin-top: 180px;
  
  /* 배경 설정 (이미지나 색상) */
  background-image: url("../images/cta.jpg");
  background-size: cover;
  background-position: center;

  /* 중앙 정렬의 핵심: Flexbox */
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center;     /* 세로 중앙 */
  
  color: white;
  text-align: center;      /* 텍스트 자체 정렬 */
}

.text-group {
  /* 3줄 문구 사이의 간격 조절 */
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.cta-title {
  font-size: 32px;
  margin: 0;
  font-weight: bold;
}

.text-logo {
  width: 60px;
}
.cta-subtitle {
  font-size: 18px;
  margin: 0;
  opacity: 0.9;
}

.cta-button {
  display: inline-block;
  padding: 10px 25px;
  background: white;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  width: fit-content;
  margin: 10px auto 0; /* 버튼도 중앙 정렬 */
}

.cta-button:hover {
  background-color: var(--point-color);
  color: #fff;
}

/* ESG */

.ESG-sec {
    background-image: url("../images/esg.png");
    width: 100%;
    height: 789px;
    background-repeat: no-repeat;
    background-size: cover;
}

.ESG-cont {
  margin-top: 280px;
}

.esg-text {
  line-height: 1.5;
  font-size: 24px;
}

.text-logo02 {
  width: 68px;
}

.card-wrap {
  margin-top: 50px;
  width: 160px;
}

.card-body {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
}

.card-body:hover {
  background-color: var(--grey-box);
  color: var(--grey-color);
  border-radius: 5px;
  
}


.esg-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.esgicon02 {
  width: 45px;
  height: 40px;
}

.arrow-right {
  width: 15px;
  margin-left: 5px;
}

.careers-sec {
    background-image: url("../images/career.jpg");
    width: 100%;
    height: 744px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.careers-h3 {
  color: var(--white-color);
}

.careers-cont {
  margin-top: 280px;
}
.careers-text {
  line-height: 1.5;
  font-size: 24px;
}

.career-button {
  display: inline-block;
  padding: 10px 25px;
  background-color: white;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  width: fit-content;
  margin-top: 20px;
}

.career-button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);

}


.media-swiper {
  padding-top: 330px;
}


.card-wrap {
  height: 150px; 
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 12px;
}



/* footer */

.footer {
    width: 100%;
    /* 높이를 고정(495px)하면 내용이 넘칠 수 있으므로 min-height를 권장합니다 */
    min-height: 495px;
    background-color: var(--footer-color);
    padding: 40px 0;
}



.footer-container {
    display: flex;
    flex-direction: column; 
    gap: clamp(20px, 5vw, 50px);
    align-items: flex-end;
}

.footer-logo-sec {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-start;
}

.link-wrap {
    width: 70%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: clamp(10px, 3vw, 40px);
}

.link-box {
    min-width: 150px;
    flex: 1;
}

.linkbox-title {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
}

.link-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.link-box li > a {
    display: block;
    width: 100%;
    padding: 10px 20px;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.footer-line {
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-top: 80px;
  margin-bottom: 20px;
}

.footer-bottom {
  width: 100%;
  color: #fff;
}

.footer-menu{
  width: 70%;
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
  margin-bottom: 30px;
}

@media(max-width:1290px){
   
.business-box { 
  width: 100%; 
  max-width: 750px; 
  height: 550px; 
  background-color: rgb(35, 79, 110); border-radius: 50px; 
  padding: 45px 35px; 
  position: relative; 
  transition: 0.3s; 
  display: flex; 
  flex-direction: column; }



  .business-grid-layout { 
    display: block;
    margin-left: 160px;
    grid-template-columns: repeat(2, 428px); 
  }

.business-box.box-03 {
  margin-top: 270px;
}

}

@media(max-width:1240px){

.map-wrap {
  display: none;
}


.esg-text {
  line-height: 1.5;
  font-size: 18px;
}


.info-counter-container {
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-left: 160px;
    }

    .info-grid {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .infogrid02 {
      margin-top: 50px;
    }

  .info-counter-wrap {
  text-align: center;
    }

  .info-txt {
    display: contents;
  }

}


@media(max-width:1024px){

.m-column {
  flex-direction: column ;
}

.ESG-cont {
  margin: 100px 0 0 50px;

}

.careers-cont {
  margin: 100px 0 0 50px;

}

.careers-text {
  line-height: 1.5;
  font-size: 18px;
}

  .business-grid-layout { 
    width: 80%;
    margin-top: 50px;


}

}

@media(max-width:791px){



.m-column {
  flex-direction: column ;
}

.sec-txt {
    width: 100%;
    max-width: 300px;
  }

.business-grid-layout {
    display: block; 
    margin-left: 0; 
    padding: 0 20px; 
    width: 100%;
    box-sizing: border-box; 
  }

  .business-box {
    width: 100%; 
    max-width: none; 
    
  
    height: auto; 
    aspect-ratio: 1 / 1; 
    
    margin: 40px auto 0; 
    padding: 45px 35px;
    border-radius: 30px; 
    box-sizing: border-box;
  }


  .map-img {
    display: none;
  }

  .capabillity-wrap {
    margin-left: 150px;
  }

  .business-box.box-03 {
  margin-top: 40px;
}

.info-counter-container {
    margin-left: 0;
     margin-top: 40px;

}

.esg-text {
  width: 350px;
}

.card-wrap {
  flex-direction: column;
  
}

}

@media(max-width:750px) {

.link-wrap {
  width: 100%;
}

.footer-menu {
  width: 100%;
  font-size: 14px;
}

}

@media(max-width:650px){

 .capabillity-wrap {
    margin-left: 60px;
  }


}
@media(max-width:600px){

  .box-img {
    max-width: 300px;
    max-height: 220px;
  }
  
}
